<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZEUS.SGC132App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ZEUS.SGC132App.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ZEUS.SGC132App.Properties.Settings>
            <setting name="TiempoTonos" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EscucharTonos" serializeAs="String">
                <value>True</value>
            </setting>
        </ZEUS.SGC132App.Properties.Settings>
        <ZEUS.SGC132App.Settings1>
            <setting name="EscucharTonos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TiempoTonos" serializeAs="String">
                <value>1</value>
            </setting>
        </ZEUS.SGC132App.Settings1>
    </userSettings>
</configuration>