<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PruebaEquipos.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="PruebaEquipos.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <PruebaEquipos.Settings1>
            <setting name="UsarCarros" serializeAs="String">
                <value>True</value>
            </setting>
        </PruebaEquipos.Settings1>
        <PruebaEquipos.Settings>
            <setting name="Titulo" serializeAs="String">
                <value>PRUEBA DE EQUIPOS DE LA INSTITUCIÓN ({0} HORAS)</value>
            </setting>
            <setting name="Saludo" serializeAs="String">
                <value>BUENOS DÍAS</value>
            </setting>
            <setting name="MensajeInicio" serializeAs="String">
                <value>TRANSMITE LA CENTRAL DE TELECOMUNICACIONES Y ALARMAS DEL CUERPO DE BOMBEROS METROPOLITANO SUR, EN SU PRUEBA DE EQUIPOS MÓVILES DE LA INSTITUCIÓN.</value>
            </setting>
            <setting name="MensajeTermino" serializeAs="String">
                <value>CENTRAL DE ALARMAS FINALIZA PRUEBA DE SUS EQUIPOS MÓVILES.</value>
            </setting>
            <setting name="UsarCarros" serializeAs="String">
                <value>False</value>
            </setting>
        </PruebaEquipos.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
